.main-nav:active {
    text-decoration:underline;
    color: tomato;
}

.main-nav:hover {
    color:tomato !important
}
.main-nav {
    margin-left: 20px;
    font-family: 'Carter One', cursive;
    cursor: pointer;
}
.logoStyle {
    max-width: 3.5rem;
}

.menuBar {
    position: fixed !important;
    top: 0;
    width: 100%;
}

#justifyMenuBar {
    justify-content: space-between;
}

#logoImg {
    margin-left: 10px;
}

